S3method(predict,classifier.double.xor)
S3method(predict,classifier.single.xor)
export(calculate.importance)
export(classifier.double.xor)
export(classifier.single.xor)
export(fidelity)
export(gen.data.double.xor)
export(gen.data.single.xor)
export(goldeneye)
export(grouping)
export(prune.singletons)
export(readdataset)
export(sampleaccuracy)
export(testsplit)
